---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I bring a diverse skill set to the table and my expertise in TypeScript sets me apart, enabling me to build robust applications. Being self-taught fuels my passion for continuous learning and adaptability, and I love abstracting problems creatively to find efficient solutions. My pedagogy background aids in managing projects and team collaboration. I excel in applying SOLID principles and clean architectures. Event Sourcing is another standout skill that enhances the reliability and scalability of my work. Easy to work with, patient, and committed to excellence, I'm ready to make a positive impact on any project.
		</p>
	</div>
</section>
