---

import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
	<button style={'primary'} id="copyButton" name="copyButton">gabrielasanchesdeveloper@gmail.com</button>
	<hr class="w-1/2" />
	<div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
		<Social />
	</div>
</section>

<script>
	// TypeScript code

	document.addEventListener("DOMContentLoaded", function () {
    const copyButton = document.getElementById("copyButton");

    if (copyButton) {
        copyButton.addEventListener("click", function () {
            copyTextToClipboard();
        });
    }
	});

	function copyTextToClipboard() {
	const text = document.getElementById("copyButton");

	if (text) {
		const textToCopy = text.innerText;
		navigator.clipboard.writeText(textToCopy)
			.then(() => {
					// The text has been successfully copied to the clipboard
					alert("Text copied to clipboard: " + textToCopy);
			})
			.catch((error) => {
					console.error("Unable to copy text to clipboard: " + error);
			});
	}
}       
</script>