---

import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
	<button style={'primary'} id="copyButton" name="copyButton" onclick="copyTextToClipboard">gabrielasanchesdeveloper@gmail.com</button>
	<hr class="w-1/2" />
	<div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
		<Social />
	</div>
</section>

<script>
	// TypeScript code
	const copyButton = document.getElementById("copyButton");
	if(copyButton){
		const tempInput = document.createElement("input");
		tempInput.value = copyButton.innerText;

		// Append the input element to the document
		document.body.appendChild(tempInput);

		// Select the text in the input element
		tempInput.select();

		// Copy the selected text to the clipboard
		navigator.clipboard.writeText(tempInput.value)
			
		// Remove the temporary input element
		document.body.removeChild(tempInput);

		// Notify the user that the text has been copied
		alert("Text copied to clipboard: " + tempInput.value);
	}
	
			       
</script>